::-webkit-scrollbar {
    width: 10px;
    background-color:#30202f;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #fcfcfc;
}
.left-title h2 {
    font-size: 18px;
    color: #fff;
} 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color:#7e11c793;
}
::-webkit-scrollbar-thumb {
    background-color: #7e11c796;
}
.info-cyberthreat::-webkit-scrollbar, .st-info::-webkit-scrollbar, .nd-info::-webkit-scrollbar, .popup-wrapper::-webkit-scrollbar {
    width: 5px;
}
body {
    margin: 0;
    padding: 0;
    background: #494399 ;
    background-size: cover;
    font-family: sans-serif;
}
.intro {
    color: #fff;
    background: linear-gradient(200deg, rgb(0, 0, 0), rgb(0, 0, 0), #494399);
}
header {
    background: #000;
}
.menu-item {
    position: relative;
    overflow: hidden;
}
.menu-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transition: 0.3s;
}
.menu-item:hover::after {
    width: 100%;
}
@font-face {
    font-family: 'FuturaBD';
    src: url('FuturaBD');
}
.burger-menu {
    display: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}
.menu ul li a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
    font-style: normal;
    font-family: sans-serif;
}
.menu {
    padding: 25px 0;
}
.button-intro a:hover {
    background-color: #7c7a7a;
    transition: 0.3s;
}
.menu ul {
    display: flex;
    list-style-type: none;
}
.button-intro a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #424242;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    user-select: none;
}
.container {
    margin: 0 auto;
    max-width: 1400px;
}
.intro {
    background-size: cover;
    padding-top: 160px;
}
.intro-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.left-desc {
    padding-bottom: 70px;
    font-size: 18px;
    line-height: 28px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
.left-title {
    padding-bottom: 40px;
    font-size: 36px;
    font-style: inherit;
    font-weight: 600;
}
.left-intro {
    max-width: 650px;
}
.right-img-intro img {
    width: 100%;
    margin-top: -80px;
    user-select: none;
}
.run-line-wrapper {
    display: flex;
    bottom: 0;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #535353;
}
.run-line-wrapper span img {
    width: 80px;
    position: relative;
}
.run-line-wrapper span{
    margin-right: 180px;
    animation: runline 19s linear infinite;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1em;
    font-family: sans-serif;
    opacity: 0.5;
    bottom: 0;
}
.run-line {
    overflow: hidden;   
    position: relative;
    user-select: none;
    margin-top: 228px;
    padding-bottom: 10px;
}
@keyframes runline {
    0% {
        -webkit-transform: translate3d(-150%,0,0);
    }
    100% {
        -webkit-transform: translate3d(10%,0,0);
    }
}
@font-face {
    font-family: 'AtlasGrotesk';
    src: url('AtlasGrotesk');
}
.cybersecurity-img img {
    width: 100%;
    max-width: 700px;
    height: auto;
}
.cybersecurity {
    padding-top: 150px;
    padding-left: 70px;
}
.cybersecurity-wrapper-st {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.cybersecurity-img::before {
    content: '';
    background: #72efe9;
    width: 340px;
    height: 1000px;
    position: absolute;
    left: 33%;
    z-index: -1;
    top: -80px;
}
.cybersecurity-img::after {
    content: '';
    background: #fff;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 140px;
    top: -10px;
    border-radius: 50%;
}
.st-info {
    position: absolute;
    top: 300px;
    right: 170px;
    max-width: 500px;
    background: #fff;
    padding: 20px 30px;
}
.st-info h2 {
    color: #494399;
    font-size: 26px;
    font-weight: 700;
}
.st-info p {
    font-size: 16px;
    line-height: 28px;
    color: #505050;
}
.nd-info {
    max-width: 500px;
    background: #fff;
    padding: 20px 30px;
    position: relative;
    top: 50px;
}
.nd-info h2 {
    color: #494399;
    font-size: 26px;
    font-weight: 700;
}
.nd-info p {
    font-size: 16px;
    line-height: 28px;
    color: #505050;
}
.cyberatacks {
    margin-top: 200px;
    position: relative;
}
.cyberatack-slider::after {
    content: '';
    width: 100%;
    height: 200px;
    background: #72efe9;
    top: 40%;
    position: absolute;
    z-index: -1;
}
.cyberatack-title {
    text-align: center;
    font-size: 35px;
    color: #fff;
}
.container-slider {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}
.slider-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
}
.slide {
   width: 270px;
   background: #fff;
   padding: 20px;
   position: relative;
}
.slide {
    margin-right: 100px;
}
.slides {
    width: 270px;
    justify-content: center;
    text-align: center;
}
.buttons-slider {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    align-items: center;
}
.previous {
    margin-right: 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.next {
    margin-right: 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.previous:hover, .next:hover, .else-button-index:hover{
    transform: scale(0.96);
    transition: 0.2s;
}
.more:hover {
    transform: scale(0.9);
    transition: 0.2s;
}
.previous::before {
    content: '';
    width: 13px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: -25px;
    top: 6px;
    transform: rotate(-45deg);
    cursor: pointer;
}
.previous::after {
    content: '';
    width: 13px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: -25px;
    top: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}
.next::before {
    content: '';
    width: 13px;
    height: 3px;
    background: #fff;
    position: absolute;
    right: -25px;
    top: 6px;
    transform: rotate(45deg);
}
.next::after {
    content: '';
    width: 13px;
    height: 3px;
    background: #fff;
    position: absolute;
    right: -25px;
    top: 14px;
    transform: rotate(-45deg);
}
.slide p {
    line-height: 28px;
    color: #505050;
}
.slide h3 {
    color: #000;
}
.more {
    color: #494399;
    font-weight: 900;
    cursor: pointer;
}
.more-desc {
    display: none;
    line-height: 28px;
    color: #505050;
}
.popup {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: none;
    animation: 0.2s ease-in-out fade;
}
@keyframes fade {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.popup-wrapper {
    background-color: #fff;
    width: 700px;
    min-height: 500px;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-shadow: 1px 1px 18px 2px #888888;
    border-radius: 10px;
    position: relative;
    overflow-y: scroll;
    height: 500px;
    
}
.popup-title {
    left: 50%;
    top: 50px;
    font-size: 28px;
    text-align: center;
}
.popup-desc {
    text-align: justify;
    bottom: 0;
    position: relative;
    padding: 10px 20px;
    line-height: 28px;
    color: #505050;
    font-size: 18px;
}
.popup-initial {
    display: initial;
}
.hidden {
    overflow: hidden;
}
.popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    content: '';
    width: 20px;
    transform: rotate(45deg);
    height: 3px;
    background: #494399;
    cursor: pointer;
}
.popup-close::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #494399;
    right: 0;
    transform: rotate(-90deg);
}
.data-protection {
    padding-top: 200px;
    max-width: 1000px;
    margin: 0 auto;
}
.img-protection img {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: auto;
}
.desc-protection ul {
    list-style-type: number;
}
.title-protection {
    padding-left: 20px;
    color: #494399;
}
.protect-wrapper {
    position: relative;
}
.protect-wrapper::before {
    content: '';
    position: absolute;
    width: 1200px;
    background: #72efe9;
    height: 200px;
    top: 150px;
    left: -150px;
    z-index: -1;
}
.protection-block {
    max-width: 600px;
    background: #72efe9;
    padding: 10px 15px;
    position: absolute;
    top: 400px;
    right: 0;
    overflow: hidden;
    border-radius: 10px;
}
.nd-info, .st-info {
    border-radius: 5px;
}
.desc-protection ul li {
    text-align: justify;
    line-height: 28px;
    color: #494399;
    font-size: 18px;
}
.data-title {
    font-weight: 700;
}
.desc-protection-2 {
    display: none;
}
.initial-2 {
    display: initial;
}
.none-protect {
    display: none;
}
.else-button {
    text-align: center;
    color: #494399;
    font-weight: 900;
    cursor: pointer;
}
.else-button-2 {
    text-align: center;
    color: #494399;
    font-weight: 900;
    cursor: pointer; 
}
.else-button-22 {
    display: none;
}
.else-button-index {
    user-select: none;
}
.img-cyberthreat img {
    width: 100%;
    max-width: 900px;
    height: auto;
}
.img-cyberthreat {
    max-width: 910px;
    margin: 0 auto;
}
.new-cyberthreat {
    padding-top: 500px;
    padding-bottom: 100px;
}
.cyberthreat-wrapper {
    max-width: 1200px;
}
.info-cyberthreat {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 15px 30px;
    line-height: 28px;
    height: 469px;
    overflow-y: scroll;
    margin-top: 30px;
    border-radius: 10px;
}
.bold {
    font-weight: bold;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}
.burger-menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 7;
    position: relative;
}
.burger {
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: relative;
    right: 20px;
    top:20px;
    left: 20px;
}
.burger::after {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    bottom: 7px;
    background: #fff;
}
.burger::before {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    top: 7px;
    background: #fff;
}
.burger-menu-block {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    transform: translateY(-110%);
    transition: 0.3s;
}
.initial-menu {
    transform: translateY(0);
}
.burger-menu-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.burger-menu-item ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.burger-menu-item ul li {
    margin-bottom: 80px;
    text-align: center;
}
.body-hidden {
    overflow: hidden;
}
.num-statistic-1 {
    font-size: 50px;
}
.container-statistics {
    margin: 0 auto;
    max-width: 1200px;
}
.statistics-wrapper {
    display: flex;
    justify-content: space-between;
}
.num-statisctic {
    font-size: 65px;
    color: #72efe9;
    line-height: 15px;
}
.statistic-index {
    max-width: 240px;
    text-align: center;
}
.desc-statistic p {
    font-size: 19px;
    text-align: center;
    color: rgb(231, 231, 231);
}
.statistics {
    margin-top: 200px;
}
.statistic-title {
    text-align: center;
    font-size: 48px;
    color: #fff;
    padding-bottom: 50px;
}
.educate {
    padding-top: 80px;
}
.educate-title h2{
    text-align: center;
    font-size: 48px;
    color: #494399;
}
.educate-desc {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    color: #494399;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.educate-desc span {
    font-weight: 900;
    line-height: 28px;
}
.educate-desc li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #494399;
}
.educate-wrapper {
    background: #fff;
    padding: 10px 20px;
    text-align: justify;

}
.info-cyberthreat {
    position: relative;
}
.new-cyberthreat::before {
    content: '';
    position: absolute;
    width:400px;
    height: 600px;
    background: url(../img/intro_decor.png);
    background-repeat: no-repeat;
    z-index: -1;
}
.new-cyberthreat::after {
    content: '';
    position: absolute;
    width:600px;
    height: 600px;
    background: url(../img/intro_decor.png);
    background-repeat: no-repeat;
    right: 0;
    rotate: 180deg;
    z-index: -1;
}
@media (max-width: 1370px) {
    .st-info {
        position: static;
        margin: 0 auto;
        overflow-y: scroll;
        height: 400px;
    }
    .cybersecurity-wrapper-st {
        display: initial;
    }
    .cybersecurity-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    .cybersecurity-img  {
        margin: 0 auto;
        max-width: 700px;
    }
    .nd-info {
        margin: 0 auto;
        height: 345px;
        overflow-y: scroll;
    }
    .cybersecurity {
        padding-left: 0;
    }
    .new-cyberthreat::after, .new-cyberthreat::before {
        display: none;
    }
}
@media (max-width: 1200px) {
    .protect-wrapper::before {
        width: 150px;
    }
    .statistics-wrapper {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
    .statistic-index {
        margin: 0 auto;
    }
    .container-statistics {
        max-width: 1000px;
        margin: 0 auto;
    }
}
@media (max-width: 1000px) {
    .menu {
        display: none;
    }
    .nav {
        padding-top: 10px;
    }
    .slide {
        margin-left: 5px;
    }
    .burger-menu {
        display: block;
    }

}
@media (max-width:700px) {
    .protection-block {
        position: static;
    }
    .statistic-title,
    .educate-title h2 {
        font-size: 32px;
    }
    .protect-wrapper::before {
        display: none;
    }
    .container {
        margin: 0 50px;
    }
    .left-title h1 {
        font-size: 7vw;
    }
    .left-desc {
        font-size: 4vw;
    }
    .cybersecurity-img::before, .cybersecurity-img::after {
        display: none;
    }
    .popup-wrapper {
        max-width: 400px;
        overflow-y: scroll;
    }
    .burger-menu-item ul li a {
        font-size: 5vw;
    }
    .new-cyberthreat {
        padding-top: 150px;
    }
}
@media (max-width:500px) {
    .cyberatack-title h2 {
        font-size: 32px;
    }
    .desc-protection ul li {
        font-size: 4vw;
    }
    .container {
        margin: 0 10px;
    }
    .desc-cyberthreat {
        font-size: 15px;
    }
}
@media (max-width:420px) {
    .popup-wrapper {
        width: 300px;
    }
}
